<div class="for_schools_success">
  <fieldset>
    <legend>You got it!</legend>
    <i class="fi-check animated rubberBand" onclick="reanimate(this)"></i>
    <p>I've got your information and will be in touch shortly!</p>
    <p>Thanks!</p>
  </fieldset>
</div>
