<h2>About</h2>

<div class="row">
  <div class="small-8 columns">
    <p><b>Cite & Write</b> is designed to help those who love to learn do better research, make stronger arguments, and focus on the process of creating new and original ideas based off of solid research fundamentals.</p>

  </div>

  <div class="small-4 columns">
  </div>
</dvi>
