<h2>For Schools</h2>

<p>Cite and Write can offer some amazing benefits to individual students, but its potential really begins to shine when an entire classroom, grade, or school utilizes it. Here are some of the benefits that can be reaped when Cite & Write is utilized across the board.</p>

<ol class="static-list">
  <li>
    <h4>Familiar to students</h4>
    <p>Students, like all of us, tend to use that which is familiar and easy. If multiple classrooms begin utilizing Cite & Write, students become more familiar not only with the system, but also with the <i>process</i> of proper research and note taking. It begins a cycle where good habits are reenforced and students begin to take more ownership and direction of their learning since they are comfortable with the format.</p>
  </li>

  <li>
    <h4>Differentiated Learning</h4>
    <p>Research projects can be daunting to try and orchestrate across 30 students. Cite & Write offers a consistent format for students to utilize and helps focus them on proper research techniques. It walks each student through the process of writing a thesis, gathering their sources, taking notes, and then citing them correctly. This familiar format and process will make it easier for students to engage in more self-directed learning, while you can be sure they're still completing the standards and requirements they need to.</p>
  </li>

  <li>
    <h4>Lower pricing</h4>
    <p>If a school is able to commit to purchasing a year-license for their students, I'm able to greatly reduce the cost and work directly with the school to integrate with other existing systems. Further, I can help provide support to the school as a whole and work with you to ensure that Cite & Write is meeting all of the learning goals you have set forth.</p>
  </li>

  <li>
    <h4>Technology Benefits</h4>
    <p>Don't want students to have to remember another password? We can figure out how to connect Cite & Write with your local authentication system to enable seamless access for all students. And, because it's web-based, it will work on iPad, Chromebook, Mac, PC, and some mobile phones.</p>
  </li>

  <li>
    <h4>Staff get free access, too!</h4>
    <p>As an additional perk, all staff of a participating school get unlimited projects for their own use. This could be great for curriculum planning, school improvement plans, and getting ready for your next Professional Development presentation.</p>
</ol>

<p>Cite & Write has great potential to help you and your students. I would love to talk with you about your goals for students and how I can help you achieve those with Cite & Write!</p>


<%= render('for_schools_form', form: "for_schools") %>
