<h1>Welcome to SciSci</h1>
<p>With SciSci you can finally get that A! Let us help you organize your notes and research so you can focus on letting your voice shine through!</p>

<%= link_to "Sign in", new_user_session_path, class: "button small" %>
or
<p><%= link_to "Sign up today!", new_user_registration_path, class: "button small" %></p>
