<h1 style="text-align: center;">Cite & Write Plans</h1>

<h3 style="text-align: center; margin-top: 1em;">Start doing better research today!</h3>
<hr>

<div>
  <div class="row">
    <div class="large-3 columns">
      <div class="payment-card">
        <h4>The Learner</h4>
        <hr>

        <ul style="list-style: none; text-align: left;">
          <li style="text-align: center;"><b>1</b> Active Project</li>
          <li><b>Unlimited</b> Sources</li>
          <li><b>Unlimited</b> Notes</li>
          <li><b>Unlimited</b> Tags</li>
        </ul>

        <div style="padding-bottom: 10px;">
            <a href="/users/sign_up?from_pricing=true"><button type="submit" class="stripe-button-el" style="visibility: visible;"><span style="display: block; min-height: 30px;">Free</span></button></a>
        </div>
      </div>
    </div>

    <div class="large-3 columns">
      <div class="payment-card">
        <h4>The Writer</h4>
        <hr>
        <ul style="list-style: none; text-align: left;">
          <li style="text-align: center;"><b>3</b> Active Projects</li>
          <li><b>Unlimited</b> Sources</li>
          <li><b>Unlimited</b> Notes</li>
          <li><b>Unlimited</b> Tags</li>
        </ul>

        <div style="padding-bottom: 10px;">
            <a href="/users/sign_up?from_pricing=true"><button type="submit" class="stripe-button-el" style="visibility: visible;"><span style="display: block; min-height: 30px;">$3 / Month</span></button></a>
        </div>
      </div>
    </div>


    <div class="large-3 columns">
      <div class="payment-card">
        <h4>The Researcher</h4>
        <hr>

        <ul style="list-style: none; text-align: left;">
          <li style="text-align: center;"><b>5</b> Active Projects</li>
          <li><b>Unlimited</b> Sources</li>
          <li><b>Unlimited</b> Notes</li>
          <li><b>Unlimited</b> Tags</li>
        </ul>

        <div style="padding-bottom: 10px;">
            <a href="/users/sign_up?from_pricing=true"><button type="submit" class="stripe-button-el" style="visibility: visible;"><span style="display: block; min-height: 30px;">$5 / Month</span></button></a>
        </div>
      </div>
    </div>

    <div class="large-3 columns">
      <div class="payment-card">
        <h4>The Academic</h4>
        <hr>

        <ul style="list-style: none; text-align: left;">
          <li style="text-align: center;"><b>Unlimited</b> Active Projects</li>
          <li><b>Unlimited</b> Sources</li>
          <li><b>Unlimited</b> Notes</li>
          <li><b>Unlimited</b> Tags</li>
        </ul>

        <div style="padding-bottom: 10px;">
            <a href="/users/sign_up?from_pricing=true"><button type="submit" class="stripe-button-el" style="visibility: visible;"><span style="display: block; min-height: 30px;">$10 / Month</span></button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin: 1em;">
<p><b>In addition to the feature listed above, all plans also include:</b></p>
<ul>
  <li>Bibliography Generator</li>
  <li>Searchable Notes</li>
  <li>View research by topic or source</li>
  <li>Access to example theses to encourage higher-order thinking</li>
  <li>Free support</li>
</ul>
</div>


<h2>Payment Information</h2>
<p>All of our payments are handled by Stripe, a leader in secure digital payments.
   Some of their other clients include Facebook, Lyft, FitBit, and over 100,000 other companies.
    Stripe specializes in financial security and keeping your data safe; for that reason, none of your credit card data is stored on our servers.
     If you are upgrading your plan, you may be asked to re-input your credit card information as we do not store any of it on our servers.
   <%= link_to "For more information about Stripe, click here.", "https://stripe.com/about" %></p>
