<h1 style="text-align: center;">Cite & Write Pricing for Schools</h1>
<div class="pricing">
  <div class="card">

    <div class="dollar-logo" style="">
      <div class="dollar">
        $5
        <div class="per">
          student/year
        </div>
      </div>
    </div>

    <div class="info">
      <h3>All accounts come with:</h3>

      <ul>
        <li>Unlimited Projects, Sources, and Notes</li>
        <li>Citation generator powered by EasyBib</li>
        <li>Teachers can view all student work</li>
        <li>Teachers can leave feedback for students</li>
        <li>Unlimited Staff accounts
          <ul>
            <li>Great for professional development research!</li>
          </ul>
        </li>
      </ul>
    </div>

  </div>

  <div class="interested" style="text-align: center; margin-top: 3em;">
    <p style="font-size: 36px;"><b>Interested?</b></p>
    <p>Fill out the form below and I'll contact you ASAP!</p>
  </div>

  <%= render "pricing_form", form: "pricing" %>
</div>
