<h3>Planned Features</h3>
<p>Some additional features are planned that should help students and teachers more fully utilize Cite & Write.</p>

<h4>Teacher View</h4>
<p>(Mid to Late Fall 2017)</p>
<p>Teacher's will have the ability to view the notes and sources of all of their students and leave comments and feedback.<p>
<ul>
  <li>Want to make sure that all students have 3 sources and 10 quotes by Wednesday? Set that as a reminder on all of your student's projects and it will show up on their dashboard.</li>
  <li>Have a student struggling to understand paraphrasing? Have them copy the full quote they want to paraphrase, then use the "Comment" section of the note to add in how they would paraphrase it. Leave them feedback on what they did well and how they could still improve!</li>
</ul>

<hr>

<h4>Writing View</h4>
<p>(Late 2017 to Early 2018)</p>
<p>While solid research is possibly the most important part in any paper or project, actually writing something is important, too! With the new writing view, students will be able to:</p>

<ul>
  <li>Create an outline</li>
  <li>Have access to that outline while entering in notes to match relevant pieces of information</li>
  <li>Have a space to write their paper inside Cite & Write</li>
</ul>

<p>This will allow for quick sorting and searching of notes while writing, so students can focus on their research and their writing, and less about jumping back and forth between different programs.</p>
