<ul class="note-list">
  <% @source.notes.each do |note| %>
    <li><div class="note"><a href="<%= note_path(note) %>">
        <p class="note__comments"><%= truncate(note.comments, :length => 100, :omission => '...') %></p>
    </a></div></li>
  <% end %>
</ul>

