<%
  note_list = []

  if @source
    note_list = @source.notes
  elsif @project
    note_list = @project.notes
  elsif @note
    note_list = @note.source.notes
  elsif @tags
    @tags.each do |tag|
      note_list.push(tag.note)
    end
  end
%>

<% if note_list %>

  <ul class="note-list" data-notelist>
    <% note_list.each do |note| %>
      <li class="note-list__item">
        <%= render note, note: note %>
      </li>
    <% end %>
  </ul>

<% else %>

    <div>
      <p>Hmm...you don't seem to have anything here yet. Click the button below to get started!</p>
      <% if @project && @project.sources.any? %>
        <p class="button radius side"><%= link_to "Select a source", project_sources_path(@project) %></p>
      <% elsif @source %>
        <p class="button radius side"><%= link_to "Add a note!", new_source_note_path(@source) %></p>
      <% end %>
    </div>

<% end %>
