<%= render "layouts/project_navigation" %>

<% if @note.source.project.inactive? %>
  <%= render 'projects/inactive_notice' %>
<% else %>
  <h1 class="page-title">Editing Note for <%= @note.source.display_title %></h1>

  <%= render 'form' %>
<% end %>
