<% if @note.source.project.inactive? %>
  <%= render 'projects/inactive_notice' %>
<% else %>
  <h1>New note <%= "for #{@note.source.display_title}" if @note.source %></h1>

  <%= render 'form' %>
<% end %>
