<div class="action-bar">
  <p class="subtitle">You've written <strong><%= pluralize(@project.notes.length, "note") %></strong> for this project.</strong></p>
  <a href="#" class="side button">Add a note</a>
</div>

<div class="tag-browser" data-tagbrowser>
  <p class="tag-browser__title">Find notes about... <span data-tagbrowser-readout></span></p>
  <%= tag_list(@project) %>
</div>

<%= render 'note_list' %>
