<div class="row">
  <dl class="source-detail__info">
    <% @source.display_properties.each do |key, value| %>
      <% if value != ''  %>
        <dt><%= pretty_display(key) %></dt>
        <dd><%= value %></dt>
      <% end %>
    <% end %>
  </dl>
</div>

<div class="row">
  <%= render "feedback/feedback_list", feedback: @source.feedback %>
</div>
