Book
Lastname, Firstname. <i>Title of Book</i>. City of Publication: Publisher, Year of Publication. Medium of Publication.

Lastname, Firstname, and Lastname, Firstname.

Lastname, Firstname, et al. 

Magazine
Author(s). "Title of Article." <i>Title of Periodical</i> Day Month Year: pages. Medium of publication.


Web
Medium = Web
Editor, author, or compiler name (if available). <i>Name of Site</i>. Version number. Name of institution/organization affiliated with the site (sponsor or publisher), date of resource creation (if available). Medium of publication. Date of access.

if no publisher, 'n.p'
  if no date, 'n.d.'
