<% if @users != [] %>
  <% @users.each do |user| %>
    <%= user.username %>
    <% if @project.all_collaborators.include? user %>
      <p>Already a collaborator</p>
    <% else %>
      <%= button_to 'Add as collaborator', { controller: 'projects', action: 'add_collaborator', user_id: user.id, id: @project, method: :post }%>
    <% end %>
  <% end %>
<% else %>
  <p>Sorry, your search returned no results.</p>
<% end %>
