<div class="note blog-signup-footer">
  <h4>Have your own research project?</h4>
  <p>
    Put what you're reading about into practice and
    <%= link_to "signup today!", new_user_registration_path %>
  </p>
</div>
