<h1>Footnotes</h1>
<p>The Cite & Write Blog</p>

<% most_recent = @blog_posts.most_recent.take(10) %>
<div class="medium-3 columns medium-right">
  <h5>Recent posts</h5>
  <ul>
    <div class="blog-sidebar medium-right">
      <% most_recent.each do |blog| %>
        <li><%= link_to blog.title, blog_post_path(blog) %></li>
      <% end %>
    </div>
  </ul>
</div>

<div class="medium-9 columns">
  <% most_recent.each do |blog| %>
  <hr>
  <%= render 'post', blog: blog %>
  <% end %>
</div>
