<h1>Footnotes</h1>
<p>The Cite & Write Blog</p>
<hr>


<% @blog_posts.most_recent.take(10).each do |blog| %>
<div class="small-12 columns">
  <div class="blog-header">
    <h1><%= blog.title %></h1>
    <div class="blog-author"><%= blog.author %></div>
  </div>

  <div class="blog-body">
    <div class="small-12 columns medium-8">
      <p class="blog-post">
        <%= blog.body %>
      </p>
    </div>
  </div>

  <div class="small-12 columns">
    <%= render 'signup' %>
  </div>
</div>
<% end %>
