<%= form_for(@user, url: user_path) do |f| %>

  <fieldset>
    <legend>Info</legend>

    <div class="form-field">
      <%= f.label :email, "Email address" %>
      <%= f.text_field :email %>
    </div>
  </fieldset>

  <%= f.submit "Save profile", class: "button radius" %>
<% end %>
