<h4>Whoops!</h4>

<p>It looks like this project has been marked as inactive. That means you can access all content you created originally, but you cannot add new sources, notes, or tags.</p>

<p>If you would like to continue editing this project, you may mark it as active from the <%= link_to "Projects page", projects_path %>, but you may need to <%= link_to "upgrade your account", view_plans_path %> to have enough slots to work on multiple projects at once.</p>
