<div class="thesis-copy large note">
  <p>
    A thesis serves as the cornerstone of your final research project.
  </p>

  <p>
    Your thesis should help serve as the "backbone" of your argument -
    if you only had one or two sentences to explain what your point is, that would be your thesis!
    The rest of your research helps to support this main idea.
  </p>

  <p>
    Don't worry too much about making the "perfect" thesis right now;
    It's not unusual for your thesis to change over time as you perform more research.
    It is important, however, to start thinking about what points you want to make so your research has some central direction.
  </p>

  <p>
    Try writing a thesis below - remember, you can always change it later!
  </p>
</div>
