<div class="thesis-copy large note">
  <p>
    A thesis is one or two sentences that sum up your main idea.
  </p>

  <p>
    The rest of your research supports your thesis.
  </p>

  <p>
    <b>Try writing a thesis below - remember, you can always edit it later!</b>
  </p>
</div>
