<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:html="http://www.w3.org/TR/REC-html40">
<Worksheet ss:Name="Overview">
  <Table>
    <Row>
      <Cell><Data ss:Type="String">User</Data></Cell>
      <Cell><Data ss:Type="String">Name</Data></Cell>
    </Row>
  <% @projects.each do |project| %>
    <Row>
      <Cell><Data ss:Type="Number"><%= project.user.username %></Data></Cell>
      <Cell><Data ss:Type="String"><%= project.name %></Data></Cell>
    </Row>
  <% end %>
  </Table>
</Worksheet>
</Workbook>
