<h1>New project</h1>

<div class="row">
  <div class="small-8 small-centered columns">
    <p class="large note">
      This is the name for the project your currently working on.
      It might be something like "Spanish Civil War",
      "Invention of the Cotton Gin",
      or "How to write a website" -
      anything that will help you remember what you're working on!
    </p>
  </div>
</div>
<%= render 'form' %>

<%= link_to 'Back', projects_path %>
