<div class="reveal-modal hide" id="rename-tag" data-reveal>
  <%= form_for @tag, url: tags_rename_path(@tag.project, @tag.name) do |t| %>
    Please enter the new tag name.
    <%= t.text_field :name %>
  <% end %>

  <a class="close-reveal-modal">Close</a>
</div>
