<h1>All Classes</h1>

<table>

  <tbody>
    <% @sections.each do |section| %>
        <tr>
          <td><%= link_to section.name, section_path(section)  %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path, class: "button radius large-offset-1" %>
