.home-page {
  header {
    margin-bottom: 2em;
    text-align: center;

    .button {
      margin-top: 0;
    }
  }
  h2 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 0.2em;
  }

  .video-wrap {
    width: 80%;
    margin: auto;
  }

  .video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
  }

  .video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}
  .home-page__title {
    text-align: center;
    font-size: 3.5em;
    font-weight: 400;
    margin-bottom: 0;

    span {
      font-weight: 700;
    }
  }
  .home-page__subtitle {
    text-align: center;
    font-size: 2em;
    font-weight: 300;
  }
  .home-page__features {
    h3, p {
      text-align: center;
    }

    .feature_card {
      .heading {
        @media(max-width:1024px){
          display: none;
        }
      }
    }
  }
    .home-page__features__icon {
      width: 60%;
      display: block;
      margin: 0 auto;
    }
