/*
  NOTE
  A note is a snippet of information found from an academic source.
*/

$note-background:   #f7f6d1;
$note-border-color: #d7d6be;

// Note container
.note {
  position: relative;
  padding: 1em;
  background: $note-background;
  border: 2px solid $note-border-color;
  color: black;

  &.large {
    padding: 1.5em;
  }

  &.editable {
    label {
      text-transform: uppercase;
      color: #666;
      font-weight: bold;
    }
    input[type="text"], textarea {
      background: rgba(#fff, 0.6);
      border: 2px dotted #ccc;
      box-shadow: none;

      &:hover {
        background: rgba(#fff, 1);
      }
      &:focus {
        outline: 0;
        background: rgba(#fff, 1);
        border-color: #999;
      }
    }
    textarea {
      height: 100px;
    }
  }

  // Page corner
  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 0;
    height: 0;
  }
  &::before {
    border-top: 3em solid $note-border-color;
    border-right: 3em solid transparent;
  }
  &::after {
    border-bottom: 3em solid white;
    border-left: 3em solid transparent;
  }

}
  // Comments on a source
  .note__comments {
    .large.note & {
      font-size: 1.5em;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  // Quotes from a source
  .note__quote {

  }
  // Attribution
  .note__source {
    font-style: italic;
    &:last-child {
      margin-bottom: 0;
    }
  }

// A list of multiple notes
.note-list {
  @include clearfix;
  list-style-type: none;
  padding: 0;
  margin: 0 -0.5em;
}
  .note-list__item {
    float: left;
    width: 100%;
    padding: 0 0.5em 1em 0.5em;

    @media #{$medium-up} {
      width: 50%;
    }
    @media #{$large-up} {
      width: 33%;
    }

    .note {
      padding: 1em;
      color: black;

      &:hover {
        background: lighten($note-background, 2%);
        border-color: lighten($note-border-color, 2%);
      }

      p {
        margin-bottom: 0.5em;
      }

      &::before, &::after {
        border-width: 1.5em;
      }
    }
    .tag-list {
      margin-top: 0.75em;
    }
  }