@include keyframes(dropIn) {
  0% {
    @include transform(translateY(-175%) rotate(3deg));
  }
  100% {
    @include transform(translateY(0%) rotate(0deg));
  }
}
@include keyframes(dropOut) {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    top: 2em;
  }
  100% {
    opacity: 0;
    top: -100em;
  }
}

%notice {
  padding: 1em;
  text-align: center;
  font-size: 1em;
  border: 1px solid #ccc;
  box-shadow: 0 4px 20px rgba(#000, 0.25);
  z-index: 10000;
  background: #fff;
  border-radius: 8px;
  border-bottom: 5px solid $primary-color;
  position: relative;

  @media #{$small-up} {
    @include animation(dropIn 0.5s 1s backwards ease-out, dropOut 1s 4.5s forwards ease-out);
    position: fixed;
    top: 2em;
    width: 650px;
    left: 50%;
    margin-left: -325px;
  }

  // Alert icon
  &::before {
    position: absolute;
    display: block;
    content: '!';
    width: 1.5em;
    height: 1.5em;
    border-radius: 1.5em;
    background: $primary-color;
    color: #fff;
    line-height: 1.5em;
    text-align: center;
    font-weight: bold;
    top: 0.75em;
  }
}

#notice, .notice, #alert, #warning {
  @extend %notice;
}