.project-nav {
  padding-top: 1em;
  border-bottom: 2px solid $primary-color;
  background: #eee;
  margin-bottom: 1.5em;
}
  .project-nav-title {
    font-weight: normal;
  }
  .project-nav-menu {
    margin: 0;
    margin-top: 1em;
    list-style-type: none;

    li {
      display: inline-block;
    }
    a {
      display: inline-block;
      font-size: 1.5em;
      padding: 0.5em 0;
      color: black;
      border-bottom: 4px solid transparent;
      color: #999;
      margin-right: 1.5em;
      font-weight: normal;
    }
    li.active a, a:hover {
      color: #000;
      border-color: $primary-color;
    }
  }