.source-edit {

}
  .source-edit-sourcetype {
    @include clearfix;
    margin-left: 0;

    .button {
      margin: 0;
      width: 33%;
      display: block;
      float: left;
      padding: 0;
      height: 3em;
      line-height: 3em;
      border-radius: 0;
      text-align: center;

      // Temporary
      img { display: none; }

      &:first-child {
        border-radius: 16px 0 0 16px;
      }
      &:last-child {
        border-radius: 0 16px 16px 0;
      }
      &:not(:last-child) {
        border-right: 1px solid #aaa;
      }
    }
    a, a:hover {
      color: #666;
    }
  }

.googlebooks {
  padding: 1em;
  background: #edeefa;
  border: 1px solid #a8abd1;
  margin-bottom: 1em;

  .button {
    margin-bottom: 0;
  }
}
  input.googlebooks__searchfield {
    margin-bottom: 0.25em;
    max-width: 400px;
    display: inline-block;
    margin-right: 1em;
  }
  .googlebooks__searchbutton {
    margin-top: 0;
  }
  .googlebooks__status {
    display: none;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-style: italic;
  }
  .googlebooks__results {
    margin: 0;
    list-style-type: none;
    height: 0px;
    position: relative;

    @include transition-duration(0.1s);
    @include transition-timing-function(linear);
    &, &.has-results {
      @include transition-property(height margin);
    }
    &.has-results {
      @include transition-duration(0.25s);
      @include transition-timing-function(ease-out);
      margin-top: 1em;
      height: 250px;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }

    // (Maybe) fade effect at bottom of container
    &::after {
      content: '';
      width: 100%;
      height: 10px;
      display: none;
      background: black;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .googlebooks__results__item {
    @include clearfix;
    margin-bottom: 0.75em;

    &, &:hover {
      @include transition-property(color);
      @include transition-duration(0.1s);
      @include transition-timing-function(ease-out);
    }
    &:hover {
      color: $primary-color;
      cursor: pointer;
    }

    .image {
      float: left;
      margin-right: 1em;
      width: 40px;
    }
    .title, .info {
      margin-bottom: 0;
    }
    .title {
      font-weight: bold;
      font-size: 1.2em;
      line-height: 1;
      margin-bottom: 0.2em;
    }
  }

.authors-edit {
  display: none;
}
  .authors-edit__item {
    @include grid-row(nest);
  }
    .authors-edit__item__number {
      @include grid-column(12);

      @media screen and (min-width: rem-calc(750px)) {
        @include grid-column(2);
      }

      label {
        margin-bottom: 0.25em;
      }
    }
    .authors-edit__item__firstname {
      @include grid-column(12);

      @media screen and (min-width: rem-calc(500px)) {
        @include grid-column(6);
      }
      @media screen and (min-width: rem-calc(750px)) {
        @include grid-column(4);
      }
    }
    .authors-edit__item__lastname {
      @include grid-column(12);

      @media screen and (min-width: rem-calc(500px)) {
        @include grid-column(6);
      }
      @media screen and (min-width: rem-calc(750px)) {
        @include grid-column(4);
      }
    }
  .authors-edit__add {
    &:before {
      content: '';
      display: block;
      height: 0.5em;
    }
  }
  .authors-edit__remove {
    &::before {
      content: 'or';
      color: #999;
      font-style: italic;
      font-weight: normal;
      margin: 0 1em;
    }
  }