.source-detail {
  @include clearfix;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(#000, 0.25);
  margin-bottom: 1em;

  .actions {
    clear: both;
    padding-top: 0.5em;
  }
    .button {
      margin: {
        top: 0;
        bottom: 0;
      }
    }
}
  .source-detail-type {
    text-transform: uppercase;
    color: #666;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
  .source-detail-thumb {
    margin-bottom: 1em;

    img {
      display: block;
      width: 40%;
      border: 1px solid #999;
      box-shadow: 0 4px 10px rgba(#000, 0.25);
    }
  }
  .source-detail-info {
    margin-bottom: 0;

    dt {
      margin-bottom: 0;
      line-height: 1.1;

      &::after {
        content: ':';
      }
    }
    dt, dd {
      &:last-of-type, &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @media #{$small-up} {
    .source-detail {
      padding: 1em;
      margin-bottom: 2em;
    }
    .source-detail-thumb {
      float: left;
      margin-right: 1.5em;

      img {
        width: 200px;
      }
    }
    .source-detail-info {
      float: left;
    }
  }
  @media #{$medium-up} {
    .source-detail {
      padding: 1.5em;
    }
    .source-detail-thumb {
      margin-right: 2em;
    }
  }

.source-list {
  margin-left: 0;
  list-style-type: none;
}
  .source-list__item {
    @extend .source-detail;

    a {
      display: block;
      &:hover {
        p {
          color: $primary-color;
        }
      }
    }

    p {
      margin: 0;
      line-height: 1;
      color: black;
      margin-bottom: 0.3em;
    }
  }
    .source-list__item__icon {
      float: left;
      margin-right: 1em;
      width: 50px;
      height: 50px;
    }
    .source-list__item__title {
      font-size: 1.5em;
    }

.source-edit {

}
  .source-edit-sourcetype {
    @include clearfix;
    margin-left: 0;

    .button {
      margin: 0;
      width: 33%;
      display: block;
      float: left;
      padding: 0;
      height: 3em;
      line-height: 3em;
      border-radius: 0;
      text-align: center;

      // Temporary
      img { display: none; }

      &:first-child {
        border-radius: 16px 0 0 16px;
      }
      &:last-child {
        border-radius: 0 16px 16px 0;
      }
      &:not(:last-child) {
        border-right: 1px solid #aaa;
      }
    }
    a, a:hover {
      color: #666;
    }
  }

.googlebooks {
  padding: 1em;
  background: #edeefa;
  border: 1px solid #a8abd1;
  margin-bottom: 1em;

  .button {
    margin-bottom: 0;
  }
}
  input.googlebooks__searchfield {
    margin-bottom: 0.25em;
    max-width: 400px;
    display: inline-block;
    margin-right: 1em;
  }
  .googlebooks__searchbutton {
    margin-top: 0;
  }
  .googlebooks__status {
    display: none;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-style: italic;
  }
  .googlebooks__results {
    margin: 0;
    list-style-type: none;
    height: 0px;
    position: relative;

    @include transition-duration(0.1s);
    @include transition-timing-function(linear);
    &, &.has-results {
      @include transition-property(height margin);
    }
    &.has-results {
      @include transition-duration(0.25s);
      @include transition-timing-function(ease-out);
      margin-top: 1em;
      height: 250px;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }

    // (Maybe) fade effect at bottom of container
    &::after {
      content: '';
      width: 100%;
      height: 10px;
      display: none;
      background: black;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .googlebooks__results__item {
    @include clearfix;
    margin-bottom: 0.75em;

    &, &:hover {
      @include transition-property(color);
      @include transition-duration(0.1s);
      @include transition-timing-function(ease-out);
    }
    &:hover {
      color: $primary-color;
      cursor: pointer;
    }

    .image {
      float: left;
      margin-right: 1em;
      width: 40px;
    }
    .title, .info {
      margin-bottom: 0;
    }
    .title {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

.authors-edit {
  display: none;
}
  .authors-edit__item {
    @include grid-row(nest);
  }
    .authors-edit__item__number {
      @include grid-column(12);

      @media screen and (min-width: rem-calc(750px)) {
        @include grid-column(2);
      }

      label {
        margin-bottom: 0.25em;
      }
    }
    .authors-edit__item__firstname {
      @include grid-column(12);

      @media screen and (min-width: rem-calc(500px)) {
        @include grid-column(6);
      }
      @media screen and (min-width: rem-calc(750px)) {
        @include grid-column(4);
      }
    }
    .authors-edit__item__lastname {
      @include grid-column(12);

      @media screen and (min-width: rem-calc(500px)) {
        @include grid-column(6);
      }
      @media screen and (min-width: rem-calc(750px)) {
        @include grid-column(4);
      }
    }
  .authors-edit__add {
    &:before {
      content: '';
      display: block;
      height: 0.5em;
    }
  }
  .authors-edit__remove {
    &::before {
      content: 'or';
      color: #999;
      font-style: italic;
      font-weight: normal;
      margin: 0 1em;
    }
  }