.source-edit {

}
  .source-edit-sourcetype {
    @include clearfix;
    margin-left: 0;
    padding-bottom: 20px;

    .button {
      margin: 0;
      width: 33%;
      display: block;
      float: left;
      padding: 0;
      height: 3em;
      line-height: 3em;
      border-radius: 0;
      text-align: center;

      // Temporary
      img { display: none; }

      &:first-child {
        border-radius: 16px 0 0 16px;
      }
      &:last-child {
        border-radius: 0 16px 16px 0;
      }
      &:not(:last-child) {
        border-right: 1px solid #aaa;
      }
    }
    a, a:hover {
      color: #666;
    }
  }

.authors-edit {
  display: none;
}
  .authors-edit__item {
    @include grid-row(nest);
  }
    .authors-edit__item__number {
      @include grid-column(12);

      @media screen and (min-width: rem-calc(750px)) {
        @include grid-column(2);
      }

      label {
        margin-bottom: 0.25em;
      }
    }
    .authors-edit__item__firstname {
      @include grid-column(12);

      @media screen and (min-width: rem-calc(500px)) {
        @include grid-column(6);
      }
      @media screen and (min-width: rem-calc(750px)) {
        @include grid-column(4);
      }
    }
    .authors-edit__item__lastname {
      @include grid-column(12);

      @media screen and (min-width: rem-calc(500px)) {
        @include grid-column(6);
      }
      @media screen and (min-width: rem-calc(750px)) {
        @include grid-column(4);
      }
    }
  .authors-edit__add {
    &:before {
      content: '';
      display: block;
      height: 0.5em;
    }
  }
  .authors-edit__remove {
    &::before {
      content: 'or';
      color: #999;
      font-style: italic;
      font-weight: normal;
      margin: 0 1em;
    }
  }
