@import "compass/css3";

$tag-margin: 0.75em;

.tag {
  display: inline-block;

  &.big {
    font-size: 1.25em;
  }
  &, &.is-inactive {
    @include transition-property(opacity);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease-out);
  }
  &.is-inactive {
    opacity: 0.25;

    &:hover {
      opacity: 1;
    }
  }

  a {
    display: inline-block;
    background: $primary-color;
    color: white;
    font-weight: normal;
    padding: 0.1em 1em;
    border-radius: 1000px;
    margin-right: 1em;
    margin-bottom: $tag-margin;

    &:hover {
      color: white;
      background: lighten($primary-color, 10%);
      @include scale(1.1);
    }
  }
}

.tag-list {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: -$tag-margin;
}

.reveal-modal {
  border-radius: 8px;
  border-bottom: 10px solid $primary-color;
}
.edit-tag-modal {
  @include reveal-modal-base($base-style: true, $width: 50%);
  @include reveal-modal-style;

  border-radius: 8px;
  border-bottom: 10px solid $primary-color;

  p {
    margin: 0;
  }

  input[type="text"] {
    background: transparent;
    border: 2px dotted #999;
    border-width: 0 0 2px 0;
    outline: 0;
    box-shadow: none;

    @media #{$small-up} {
      font-size: 2em;
      height: auto;
    }
    @media #{$medium-up} {
      font-size: 4em;
    }
  }
}