@import "compass/css3";

$tag-margin: 0.75em;

.tag {
  display: inline-block;

  &.big {
    font-size: 1.25em;
  }

  a {
    display: inline-block;
    background: $primary-color;
    color: white;
    font-weight: normal;
    padding: 0.1em 1em;
    border-radius: 1000px;
    margin-right: 1em;
    margin-bottom: $tag-margin;

    &:hover {
      color: white;
      background: lighten($primary-color, 10%);
      @include scale(1.2);
    }
  }
}

.tag-list {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: -$tag-margin;
}
