@import "foundation_and_overrides";

@import "modular-scale";

@import 'dataTables.foundation.css';

@import "button";
@import "action-bar";
@import "note";
@import "tag";
@import "login";
@import "notice";

.page-title {
  font-weight: bold;
}
.subtitle {
  font-size: 1.5em;
  margin-top: -0.5em;
}
a {
  font-weight: 600;
}
