@import "foundation_and_overrides";

// Plugins
@import "compass";
@import "modular-scale";
@import "dataTables.foundation.css";
@import "isotope";
@import "jquery.ui.datepicker";
@import 'foundation-icons';

// Mixins
@import "animation";

// Components
@import "book_entry";
@import "button";
@import "divider";
@import "notice";
@import "confirm-dialog";
@import "action-bar";
@import "top-bar";
@import "callout";
@import "collapsable";

// Model-specific
@import "class";
@import "project";
@import "source";
  @import "source-form";
  @import "googlebooks";
@import "note";
@import "tag";
  @import "tag-browser";
@import "thesis";
@import "feedback_list";

// View-specific
@import "sections";
@import "home-page";
@import "login";
@import "payments";
@import "blog_posts";
@import "static_pages";
@import "footer";
@import "student-overview";

.page-title {
  font-weight: bold;
}
.subtitle {
  font-size: 1.5em;
  margin-top: -0.5em;
}
a {
  font-weight: 600;
}

input[type="submit"] {
  border-radius: 8px;
}
