@import "foundation_and_overrides";

// Plugins
@import "modular-scale";
@import 'dataTables.foundation.css';

// Components
@import "book_entry";
@import "button";
@import "divider";
@import "notice";
@import "action-bar";
@import "top-bar";

// Model-specific
@import "class";
@import "project";
@import "source";
@import "note";
@import "tag";

// View-specific
@import "login";

.page-title {
  font-weight: bold;
}
.subtitle {
  font-size: 1.5em;
  margin-top: -0.5em;
}
a {
  font-weight: 600;
}
