<div class="row">
  <div class="small-12 columns">
    <%= render 'layouts/thesis' %>
  </div>
</div>

<!-- Project nav -->
<div class="project-nav">
  <div class="row">
    <div class="small-12 columns">
      <h1 class="project-nav-title"><%= project_title.to_s %></h1>
      <ul class="project-nav-menu">
        <%= render 'header/nav_menu' %>
      </ul>
    </div>
  </div>
</div>
<!-- /Project nav -->
